.candidate-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* .candidate {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  margin: 0.5em 0;
  height: 5em;
} */

.candidate {
  margin: 0.25em;
}

.candidate .card {
  padding: 0.5em;
}
/* .candidate-wrapper.bottom-marker {
  content: "<div />";
  border-bottom-style: solid;
  padding: 0.5em 0;
} */

.ranker-hint {
  border: none;
  padding: 0;
}

.ranker-hint-visible {
  animation-duration: 300ms;
  animation-name: hint-appear;
  overflow: hidden;
}

.ranker-hint-hidden {
  max-height: 0;
  animation-duration: 300ms;
  animation-name: hint-disappear;
  overflow: hidden;
}

@keyframes hint-appear {
  from {
    max-height: 0;
  }
  to {
    max-height: 6em;
  }
}

@keyframes hint-disappear {
  from {
    max-height: 6em;
  }
  to {
    max-height: 0;
  }
}