.candidate-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* .candidate {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  margin: 0.5em 0;
  height: 5em;
} */

.candidate {
  cursor: move;
  margin: 0.5em;
}

.candidate .card {
  padding: 0.5em;
}
/* .candidate-wrapper.bottom-marker {
  content: "<div />";
  border-bottom-style: solid;
  padding: 0.5em 0;
} */
