.StvExplainer {
  display: flex;
  flex-direction: column;
  width: 40em;
  margin: 0 auto;
}

.StvExplainer .stv-explainer-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.StvExplainer .round-indicator {
  margin: 1em;
}

.PhaseExplainer table {
  table-layout: fixed;
}

.PhaseExplainer .td-count {
  width: 5em;
}

.PhaseExplainer .td-marker {
  width: 7em;
}

.PhaseExplainer .td-candidate {
  text-align: left;
}