.PollPreview {
  padding: 1em;
  width: 23em;
  height: 7em;
  text-align: left;
}

.poll-vote-status:empty:before {
  content: "\200b";
}

.poll-description:empty:before {
  content: "\200b";
}
.poll-description {
  overflow: hidden;
}